header{
    width: 100vw;
    padding: 30px 32px 0px 32px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    .button-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button{
            padding:0;
            margin:0;
            border: none;
            background: none;
            transition: 0.2s;
            &.open{
                transform: rotate(-90deg);
            }
        }
    }
    nav{
        grid-area: 2 / 1 / span 1 / span 2;
        width: 100%;
        height: 0px;
        padding: 34px 0px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        // transform: translateY(-75px);
        margin-top: -75px;
        pointer-events: none;
        opacity:0;
        transition: 0.2s;
        &.open{
            height: unset;
            // transform: translateY(0px);
            margin-top: 0;
            opacity: 1;
            pointer-events: all;
            height: unset;
        }
    }

    @media screen and (min-width: 768px){
        padding: 40px 32px 0px 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button-container{
            display: none;
        }
        nav{
            height: unset;
            opacity: 1;
            pointer-events: all;
            width: auto;
            margin-top: 0;
            padding: 0px;
            .nav-link{
                margin-left: 8px;
            }
        }
    }


    @media screen and (min-width: 992px){
        padding: 55px 140px 0px 140px;
        nav{
            .nav-link{
                margin-left: 53px;
                &::before{
                    content: attr(data-id);
                    display: block;
                    font-family: 'Lacquer';
                    text-transform: capitalize;
                    height: 0px;
                    visibility: hidden;
                }
            }
        }
    }
}