/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background: greenyellow;
  color: black;
}

*::selection {
  background: greenyellow;
  color: black;
}

h1, .logo, .nav-link, .outline-link {
  font-family: 'Staatliches', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 12px;
  line-height: calc(12px * 1.618);
}

label {
  font-family: 'Bungee Hairline', sans-serif;
}

input[type=text] {
  font-family: 'Bungee', sans-serif;
}

textarea {
  font-family: "Bungee", sans-serif;
  font-size: 28px;
}

.nav-link:hover, .nav-link.active, .nav-link:focus {
  font-family: 'Lacquer', sans-serif;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-size: 40px;
  line-height: 50px;
}

@media screen and (min-width: 992px) {
  .logo {
    font-size: 45px;
    line-height: 57px;
  }
  .logo:hover {
    color: #5a5a5a;
  }
}

.circle-letter {
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Staatliches', sans-serif;
  color: #5a5a5a;
}

@media screen and (min-width: 768px) {
  .circle-letter {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .circle-letter {
    font-size: 30px;
  }
}

h1, .logo, .nav-link {
  color: #454545;
}

h1 {
  font-size: 61.92px;
  line-height: 100.18656px;
}

.nav-link {
  font-size: 18.54px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 30px;
    line-height: 37px;
  }
}

.big-link {
  cursor: pointer;
  font-family: "Staatliches", sans-serif;
  font-size: 30px;
  line-height: calc(30px * 1.618);
  color: #454545;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.big-link:hover {
  color: transparent;
  -webkit-text-stroke: 1px #5a5a5a;
}

.big-link.reverse {
  color: transparent;
  -webkit-text-stroke: 1px #5a5a5a;
}

.big-link.reverse:hover {
  color: #454545;
}

header {
  width: 100vw;
  padding: 30px 32px 0px 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

header .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .button-container button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .button-container button.open {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

header nav {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / span 1 / span 2;
  width: 100%;
  height: 0px;
  padding: 34px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  margin-top: -75px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header nav.open {
  height: unset;
  margin-top: 0;
  opacity: 1;
  pointer-events: all;
  height: unset;
}

header nav .nav-link::before {
  content: attr(data-id);
  display: block;
  font-family: 'Lacquer';
  text-transform: capitalize;
  height: 0px;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  header {
    padding: 40px 32px 0px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .button-container {
    display: none;
  }
  header nav {
    height: unset;
    opacity: 1;
    pointer-events: all;
    width: auto;
    margin-top: 0;
    padding: 0px;
  }
  header nav .nav-link {
    margin-left: 8px;
  }
}

@media screen and (min-width: 992px) {
  header {
    padding: 55px 140px 0px 140px;
  }
  header nav .nav-link {
    margin-left: 53px;
  }
}

.slider-outer {
  width: calc(100vw - 64px);
  height: calc((100vw - 64px) / 1.618);
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .slider-outer {
    width: calc( 50vw - 140px);
    height: calc( (50vw - 140px) / 1.618);
  }
}

.slider-outer .slider-inner {
  -webkit-animation: slider 10s linear infinite;
          animation: slider 10s linear infinite;
  white-space: nowrap;
}

.slider-outer .slider-inner img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes slider {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  49% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  99% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
}

@keyframes slider {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  49% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  99% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 32px;
  min-height: 5px;
  min-width: 4px;
  border: 0.5px solid #5a5a5a;
  z-index: 10;
}

@media screen and (min-width: 992px) {
  .loader {
    left: 140px;
  }
}

.block1, .block2 {
  background: white;
  position: fixed;
  visibility: hidden;
  display: none;
  z-index: 9;
  min-height: 50vh;
  max-height: 50vh;
  max-width: 50vw;
  min-width: 50vw;
}

.block1 {
  top: 0;
  right: 0;
}

.block2 {
  bottom: 0;
}

.load-txt {
  font-size: 140px;
  font-family: 'Staatliches', sans-serif;
  position: fixed;
}

.load-txt:first-of-type {
  right: 50%;
  top: 50%;
}

.load-txt:last-of-type {
  left: 50%;
  bottom: 50%;
}

.wrapper, .nav-wrap, .content-inner, .content-container {
  visibility: hidden;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
}

.nav-wrap {
  position: relative;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.content-container {
  position: relative;
  background: #D6D6D6;
  width: calc(100vw - 64px);
  margin-left: 32px;
  margin-right: 32px;
  height: 80vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

@media screen and (min-width: 992px) {
  .content-container {
    width: calc(100vw - 280px);
    margin-left: 140px;
  }
}

.content-container .watermark {
  display: none;
  position: absolute;
  z-index: -10;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 97%;
  left: -15px;
  -webkit-transform-origin: left;
          transform-origin: left;
  font-family: 'Staatliches', sans-serif;
  font-size: 35px;
  color: transparent;
  -webkit-text-stroke: 1px #5a5a5a;
}

@media screen and (min-width: 992px) {
  .content-container .watermark {
    display: block;
  }
}

.content-inner {
  opacity: 0;
  position: relative;
  height: calc(100vw - 64px + 40px);
  width: calc(100vw - 64px + 40px);
}

.content-inner .circle-text, .content-inner .dashed-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.content-inner .dashed-circle {
  height: 60%;
  width: 60%;
  -webkit-animation: clock 18s linear infinite;
          animation: clock 18s linear infinite;
}

@-webkit-keyframes clock {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes clock {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.content-inner .circle-text {
  height: 100%;
  width: 100%;
  -webkit-animation: counterClock 13s linear infinite;
          animation: counterClock 13s linear infinite;
}

@-webkit-keyframes counterClock {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes counterClock {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.content-inner .circle-text .circle-letter {
  position: absolute;
  height: calc(100vw - 64px + 40px);
  left: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .content-inner {
    height: 60vw;
    width: 60vw;
  }
  .content-inner .circle-text .circle-letter {
    height: 60vw;
  }
  .content-inner .dashed-circle {
    height: 30vw;
  }
}

@media screen and (min-width: 992px) {
  .content-inner {
    height: 60vh;
  }
  .content-inner .circle-text .circle-letter {
    height: 60vh;
  }
  .content-inner .dashed-circle {
    height: 40vh;
  }
}

.about-container {
  position: relative;
  height: 80vh;
  width: calc(100vw - 64px);
  margin-left: 32px;
  background: #D6D6D6;
}

.about-container .about-inner {
  opacity: 0;
  height: 80vh;
}

.about-container .about-me {
  font-size: 12px;
  position: absolute;
  bottom: -16px;
  left: 0;
}

.about-container .skill {
  -webkit-transform: scale(1);
          transform: scale(1);
  position: absolute;
  background: #E3E3E3;
  border-radius: 50%;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-family: 'Bungee Hairline', sans-serif;
}

.about-container .skill.big {
  height: 16vw;
  width: 16vw;
}

.about-container .skill.small {
  height: 9vw;
  width: 9vw;
}

@media screen and (min-width: 992px) {
  .about-container {
    width: calc(100vw - 280px);
    margin-left: 140px;
    padding: 24px;
  }
}

.projects-container {
  height: 80vh;
  width: calc(100vw - 64px);
  margin-left: 32px;
}

@media screen and (min-width: 992px) {
  .projects-container {
    width: calc(100vw - 280px);
    margin-left: 140px;
  }
}

.project-thumbnail-wrapper {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 20vh;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.project-thumbnail-wrapper.small {
  width: 100%;
  height: 10vh;
}

.project-thumbnail-wrapper .project-thumbnail {
  width: 100%;
  height: 20vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
}

.project-thumbnail-wrapper .project-thumbnail-title {
  visibility: hidden;
  pointer-events: none;
}

.project-thumbnail-wrapper:hover, .project-thumbnail-wrapper:focus {
  height: 50vh;
}

.project-thumbnail-wrapper:hover .project-thumbnail, .project-thumbnail-wrapper:focus .project-thumbnail {
  height: 55vh;
  opacity: 1;
}

.project-thumbnail-wrapper.expanded {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  max-height: 80vh;
  min-height: 80vh;
  min-width: 100vw;
}

.project-thumbnail-wrapper.expanded .project-thumbnail {
  opacity: 1;
  min-width: 100vw;
  height: 80vh;
  cursor: default;
}

.project-thumbnail-wrapper.expanded:hover .project-thumbnail {
  min-width: 100vw;
  height: 80vh;
}

@media screen and (min-width: 992px) {
  .project-thumbnail-wrapper {
    width: 25%;
    height: 80vh;
    display: inline-block;
    position: relative;
  }
  .project-thumbnail-wrapper.small {
    width: 10%;
    height: 80vh;
  }
  .project-thumbnail-wrapper .project-thumbnail {
    width: auto;
    height: 80vh;
  }
  .project-thumbnail-wrapper .project-thumbnail-title {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    pointer-events: none;
    color: white;
  }
  .project-thumbnail-wrapper:hover, .project-thumbnail-wrapper:focus {
    height: 80vh;
    width: 70%;
  }
  .project-thumbnail-wrapper:hover .project-thumbnail, .project-thumbnail-wrapper:focus .project-thumbnail {
    height: 100vh;
    -webkit-filter: brightness(0.9);
            filter: brightness(0.9);
  }
  .project-thumbnail-wrapper:hover .project-thumbnail-title, .project-thumbnail-wrapper:focus .project-thumbnail-title {
    opacity: 1;
  }
  .project-thumbnail-wrapper.expanded {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    max-height: 80vh;
    min-height: 80vh;
    min-width: 100vw;
  }
  .project-thumbnail-wrapper.expanded .project-thumbnail {
    -webkit-filter: brightness(0.9);
            filter: brightness(0.9);
    opacity: 1;
    width: 100vw;
    height: 80vh;
  }
  .project-thumbnail-wrapper.expanded:hover .project-thumbnail {
    width: 100vw;
    height: 80vh;
  }
}

.nav-wrappper {
  position: fixed;
  top: 0;
  z-index: 10;
}

.cta-buttons {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cta-buttons a {
  padding: 16px 40px;
  margin: 16px 0px;
  font-family: "Staatliches";
  font-size: 16px;
  border: none;
  border-radius: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
}

.cta-buttons a:hover {
  background: #454545;
  color: white;
}

@media screen and (min-width: 992px) {
  .cta-buttons {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cta-buttons a {
    width: calc( 50% - 8px);
    margin: 0;
  }
}

.project-wrapper {
  margin-top: 85vh;
  padding: 0px 32px;
}

@media screen and (min-width: 992px) {
  .project-wrapper {
    padding: 0px 140px;
  }
}

@media screen and (min-width: 992px) {
  .project-wrapper .project-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

.project-wrapper span.label {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  font-family: "Bungee Hairline";
  -webkit-text-stroke: 1px #454545;
  margin-bottom: 7px;
}

.project-wrapper h1.project-title {
  font-size: 67.78px;
  color: rgba(0, 0, 0, 0.9);
  line-height: 70px;
  margin-bottom: 7px;
}

.project-wrapper p.project-description {
  margin-bottom: 43px;
}

@media screen and (min-width: 992px) {
  .project-wrapper p.project-description {
    padding-right: 16px;
  }
}

.project-wrapper div.details .detail-item {
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .project-wrapper div.details .detail-item {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 992px) {
  .project-wrapper div.details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .project-wrapper div.details .detail-item:first-of-type {
    margin-right: 40px;
  }
}

.project-wrapper .project-images {
  margin: 40px 0px;
}

@media screen and (min-width: 992px) {
  .project-wrapper .project-images {
    margin: 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / span 2 / span 1;
  }
}

.project-wrapper .project-images .project-image {
  width: calc(100vw - 64px);
  height: calc((100vw - 64px) / 1.618);
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.1));
}

@media screen and (min-width: 992px) {
  .project-wrapper .project-images .project-image {
    width: calc( 50vw - 140px);
    height: calc( (50vw - 140px) / 1.618);
  }
}

@media screen and (min-width: 992px) {
  .project-wrapper .project-links {
    margin-top: -100px;
  }
}

.project-wrapper .project-links a.cta-link {
  margin-right: calc(30px * 1.618);
}

.project-wrapper .back-link {
  display: block;
  margin-top: 80px;
  margin-bottom: 30px;
}

.contact-container {
  min-height: 70vh;
  width: 100vw;
  background: #D6D6D6;
  padding: 0px 32px;
}

.contact-container h1 {
  margin: 0px 0px 32px 0px;
}

.contact-container label, .contact-container input, .contact-container textarea {
  display: block;
  width: 100%;
}

.contact-container label {
  font-size: 17.28px;
  margin-bottom: 7px;
}

.contact-container input[type=text], .contact-container textarea {
  margin-bottom: 48px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #5a5a5a;
  font-size: 17.31px;
  padding-left: 12px;
  color: #454545;
}

.contact-container input[type=text]::-webkit-input-placeholder, .contact-container textarea::-webkit-input-placeholder {
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #454545;
}

.contact-container input[type=text]:-ms-input-placeholder, .contact-container textarea:-ms-input-placeholder {
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #454545;
}

.contact-container input[type=text]::-ms-input-placeholder, .contact-container textarea::-ms-input-placeholder {
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #454545;
}

.contact-container input[type=text]::placeholder, .contact-container textarea::placeholder {
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #454545;
}

.contact-container input[type=text]:focus, .contact-container textarea:focus {
  border-bottom: 1px solid black;
  outline-color: cadetblue;
}

.contact-container input[type=text]:last-of-type, .contact-container textarea:last-of-type {
  margin-bottom: 16px;
}

.contact-container textarea {
  height: 200px;
  font-size: 28px;
}

.contact-container input[type=submit] {
  border: none;
  background: none;
}

@media screen and (min-width: 992px) {
  .contact-container {
    padding: 48px 122px;
    width: calc(100vw - 280px);
    margin-left: 140px;
  }
  .contact-container input[type=text] {
    font-size: 28px;
  }
  .contact-container input[type=submit] {
    width: auto;
    font-size: 51.6px;
  }
}

.links {
  width: calc(100vw - 64px);
  margin: 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links a {
  font-size: 51.6px;
  margin: 16px;
}

@media screen and (min-width: 768px) {
  .links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 992px) {
  .links {
    width: calc(100vw - 280px);
    margin-left: 140px;
  }
}
/*# sourceMappingURL=main.css.map */